body {
  background-color: #223343;
}

header{
	text-align: center;

}

nav{


}

main{

}

article, section{
	background: white;
}


footer{
	background-color: white;
}


h1{


}

h1, h2{
	color: #b2ae00;
}

p{


}
